[submodule "src/data/gsv-panorama-download"]
	path = src/data/gsv-panorama-download
	url = https://github.com/socheatos/google-street-view-panorama-download
[submodule "models/maskrcnn"]
	path = models/maskrcnn
	url = git@github.com:socheatos/Mask_RCNN.git